* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E7EBF0;
  color: #17252a;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maxWidth {
  max-width: 400px;
  margin: 20px auto;
}

.todolist {
  width: 360px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.add-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
}

.todo-title {
  background-color: #00c853;
  color: #090909;
  text-transform: uppercase;

  h6 {
    margin: 0 auto;
  }
}

.lineThrough {
  text-decoration: line-through;
}